/* Hidden Desktop Elements */
.home-background,
.home-background-2,
.home-gradient,
.home-canvas,
.desktop-subpages,
.desktop-navigation,
.about-return-navigation,
.contact-return-navigation,
.portfolio-return-navigation
{
  display: none;
}

/* -----------------------------------------KEYFRAMES */
/* GRADIENT Animation Keyframes */
/* WEBKIT */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Shake Animation Keyframes */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
  }

  5% {
    -webkit-transform: skewX(17deg);
    transform: skewX(17deg);
  }

  10% {
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
  }

  15% {
    -webkit-transform: skewX(17deg);
    transform: skewX(17deg);
  }

  20% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }

  100% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
  }

  5% {
    -webkit-transform: skewX(17deg);
    transform: skewX(17deg);
  }

  10% {
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
  }

  15% {
    -webkit-transform: skewX(17deg);
    transform: skewX(17deg);
  }

  20% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }

  100% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}

/* Bounce Animation Keyframes */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  10% {
    -webkit-transform: scale(1.1, .9) translateY(0);
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    -webkit-transform: scale(.9, 1.1) translateY(-20px);
    transform: scale(.9, 1.1) translateY(-20px);
  }

  50% {
    -webkit-transform: scale(1.05, .95) translateY(0);
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    -webkit-transform: scale(1, 1) translateY(-5px);
    transform: scale(1, 1) translateY(-5px);
  }

  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  10% {
    -webkit-transform: scale(1.1, .9) translateY(0);
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    -webkit-transform: scale(.9, 1.1) translateY(-20px);
    transform: scale(.9, 1.1) translateY(-20px);
  }

  50% {
    -webkit-transform: scale(1.05, .95) translateY(0);
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    -webkit-transform: scale(1, 1) translateY(-5px);
    transform: scale(1, 1) translateY(-5px);
  }

  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

/*------------------------------------------------- HEADER */
header {
  width: 100vw;
  height: 10vh;
  padding: 2% 2%;
  /* Logo & Button in Header */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 5;
  /* GradientBackground + Animation */
  background: -webkit-gradient(linear,
    right top, left top,
    from(rgb(238, 119, 82)),
    color-stop(rgb(231, 60, 126)),
    color-stop(rgb(35, 166, 213)),
    to(rgb(35, 213, 171)));
  background: -webkit-linear-gradient(right,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(right,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(-90deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

/* MENU ICON */
/* Create Icon */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s
}

/* Size Logo */
.m-logo-wrapper {
  width: 30%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.m-logo-wrapper a {
  /* TO SCALE RIGHT */
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-logo {
  color: transparent;
  text-decoration: none;
  outline: none !important;
  border: none;
  -webkit-tap-highligt-color: rgba(0, 0, 0, 0);
}

.header-logo:focus {
  color: transparent;
  text-decoration: none;
  outline: none !important;
  border: none;
  -webkit-tap-highligt-color: rgba(0, 0, 0, 0);
}

.zerodev-svg {
  padding: 0;
  margin: 0;
  max-height: 8vh;
}

/*------------------------------------------------------ M-NAV */
.m-nav {
  /* background-color: rgba(100, 215, 203, 0.7); */
  z-index: 5;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  text-align: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: -webkit-linear-gradient(135deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
  background: -o-linear-gradient(135deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
  background: linear-gradient(-45deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

.nav-ul {
  padding: 0;
}

.nav-element {
  list-style: none;
  margin: 5% 0%;
}

.nav-link {
  display: block;
  font-size: 2em;
  padding: 2%;
  width: 100vw;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background: -webkit-linear-gradient(135deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
  background: -o-linear-gradient(135deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
  background: linear-gradient(-45deg,
    rgba(238, 119, 82, 0.9),
    rgba(231, 60, 126, 0.9),
    rgba(35, 166, 213, 0.9),
    rgba(35, 213, 171, 0.9));
}

.nav-link:visited {
  color: white;
}

/*---------------------------------------------------------- HOME */
#home {
  padding-top: 10vh;
  /* Every MainArticle */
  padding: 0% 6%;
  background-color: rgba(0, 0, 0, 1);
  min-height: 100vh;
  /* Center in Middle of Screen */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-animation-wrap-zerodev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6%;
}

.m-headline-h1 {
  font-size: 325%;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0;
  /* Shake Animation */
  background-size: 120% 100%;
  display: block;
  background-clip: text;
  text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-image: -o-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-image: linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  /* CSS Prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  -webkit-animation: 1.5s shake infinite alternate;
  animation: 1.5s shake infinite alternate;
  /* Keyframes at top of the file */
}

.m-zerodev {
  font-family: 'Ubuntu Mono', monospace;
}

.m-headline-h2 {
  font-size: 180%;
  letter-spacing: 0.2rem;
  text-align: center;
  background: -webkit-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

.slide-text {
  font-size: 150%;
  letter-spacing: 0.1rem;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(135deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(135deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(-45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* -----------------------------------------------------ABOUT% */
#about {
  min-height: 100vh;
  /* Every MainArticle */
  padding: 0% 6%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  background-color: rgba(0, 0, 0, 1);
}

.m-wrap-about {
  text-align: right;
}

.m-about-name {
  background: -webkit-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /* Keyframes at top of the file */
}

.m-about-me-card {
  text-align: left;
  padding-top: 6%;
}

.m-about-h3 {
  font-size: 100%;
  text-align: left;
  padding-top: 6%;
}

.m-social-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.m-social-card {
  margin: 6% 3%;
  max-width: 50%;
}

.m-social-card a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-social-card-icon {
  font-size: 150%;
  width: 15vw;
  padding: 2%;
  text-align: center;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
  /* Delay and timing function */
  -webkit-animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  /* Keyframes at TOP */
}

/* ------------------------------------------CONTACT */
#contact {
  min-height: 100vh;
  /* Every MainArticle */
  padding: 0% 6%;
  padding-top: 10vh;
  padding-bottom: 5vh;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
}

.m-contact-wrap {
  padding-top: 20vh;
}

.m-contact-me, .m-contact-me:visited {
  color: white;
  text-decoration: none;
}

.m-contact-h2 {
  font-size: 200%;
  background: -webkit-gradient(linear,
    left top, right top,
    from(rgb(238, 119, 82)),
    color-stop(rgb(231, 60, 126)),
    color-stop(rgb(35, 166, 213)),
    to(rgb(35, 213, 171)));
  background: -webkit-linear-gradient(left,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(left,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(90deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /* Keyframes at top of the file */
}

.m-contact-span {
  font-size: 80%;
  color: white;
}

.m-mail-icon {
  font-size: 400%;
}

/*--------------------------------------------------------Portfolio  */
#portfolio {
  /* Every MainArticle */
  padding: 2%;
  padding-top: 10vh;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
}

.portfolio-h2 {
  font-size: 200%;
  background: -webkit-gradient(linear,
    left top, right top,
    from(rgb(238, 119, 82)),
    color-stop(rgb(231, 60, 126)),
    color-stop(rgb(35, 166, 213)),
    to(rgb(35, 213, 171)));
  background: -webkit-linear-gradient(left,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(left,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(90deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /* Keyframes at top of the file */
}

.projects-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 14px 28px rgba(255, 255, 255, 0.05), 0 10px 10px rgba(255, 255, 255, 0.03);
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.05), 0 10px 10px rgba(255, 255, 255, 0.03);
  margin: 4% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.visit-project, .visit-project:visited {
  color: white;
  text-decoration: none;
}

.skills-list {
  width: 100%;
  padding: 1% 0%;
}

.used-skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skill {
  background-color: rgba(215, 215, 215, 1);
  font-size: 75%;
  letter-spacing: 0.07em;
  font-weight: bold;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4em 1em;
  border-radius: 20px;
  margin: 1%;
  min-width: 50px;
}

.project-thumbnail-hbs, .project-thumbnail-ifd {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  width: 100%;
}

.ifd-logo, .hbs-logo, .zerodev-logo {
  width: 100%;
}

.zerodev-logo {
  width: 100%;
}

/* ---------------------FOOTER */
footer {
  text-align: center;
  background: -webkit-linear-gradient(135deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: -o-linear-gradient(135deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
  background: linear-gradient(-45deg,
    rgb(238, 119, 82),
    rgb(231, 60, 126),
    rgb(35, 166, 213),
    rgb(35, 213, 171));
}

footer a, footer a:visited {
  text-decoration: none;
  color: white;
  margin: 0% 4%;
}
